<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVmF4v3MQ2--bDBYxSntw8S60RsndhakU</string>
	<key>GCM_SENDER_ID</key>
	<string>639989890070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skillup</string>
	<key>PROJECT_ID</key>
	<string>skillup-b8d78</string>
	<key>STORAGE_BUCKET</key>
	<string>skillup-b8d78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639989890070:ios:408ed0b4d49a2ec43b8937</string>
</dict>
</plist>